@import '~styles/vars';

.questions {
  z-index: 5;
  position: relative;
  &_mt-minus {
    margin-top: -80px;
  }
  &__wrap {
    padding: 67px 45px 78px 60px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0px 0px 104px rgba(41, 41, 41, 0.15);
  }
  &__title {
    width: 100%;
    max-width: 475px;
    color: $black-dark;
    letter-spacing: 0;
  }
  &__form {
    width: calc(100% - 475px);
    padding-left: 60px;
    padding-top: 3px;
  }
  &__field {
    width: 355px;
    margin-right: 10px;
  }
  &__button {
    width: 241px;
    margin-top: 9px;
    margin-left: auto;
  }
}
