.selection {
  position: relative;
  padding-top: 124px;
  padding-bottom: 93px;
  &__content {
    width: 595px;
    padding-right: 20px;
  }
  &__title {
    margin-bottom: 45px;
  }
  &__form {
    width: 725px;
  }
  &__list {
    align-items: center;
    margin: 0 -7.5px -20px;
  }
  &__select, &__button {
    width: calc(100% / 2 - 15px);
    margin: 0 7.5px 20px;
  }
  &__img {
    z-index: -1;
    position: absolute;
    top: -75px;
    right: -217px;
    width: 972px;
  }
}
